 
.product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    background-color: #fff;  
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 16px;  
  }
  
  .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px; 
  }
  
  .product-details {
    padding: 16px; 
    color: white;  
  }
  
 
  