.rotate-180 {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

header {    
  background-color: #152A46;  
  background-color: #2B3F58;
  color: #fff;
  height: 578px;
}

nav{
  z-index: 1;
}

.grid-container {
  background: var(--surface-default, #EFF4FA);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  position: relative;  
}

.pagination {
  position: absolute;
  top : 790px;
  bottom: 0;
  right: 0;
  margin: 18px;  
}

.pagination-buttons {
  display: flex;
  gap: 8px;
}


.content { 
  flex: 1;
  background: var(--surface-default, #EFF4FA);
  height: 850px;
}
 
  

.box-with-triangle-0 {
  margin-top: 0px; 
  margin-left: 100%;
  width: 234.879px;
  height: 222.5px;
  transform: rotate(180deg);
  flex-shrink: 0;
  background-color: #FFCD29;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  z-index: 0;
}

.box-with-triangle-1 {
  margin-top: 25.5px; 
  margin-left: 1%;
  width: 250.835px;
  height: 260.763px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  background-color: #245597;
  z-index: 0;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
 


.image-container { 
  flex: 1;  
  text-align: right; 
  margin-left: 45%; 
  margin-top: 0%; 
}
.image-container img {
  max-width: auto;  
  height: auto;  
}

 

.text-container {
  color: var(--neutral-full-white, #FFF);
  font-family: Be Vietnam Pro;
  font-size: auto;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; 
  margin-top: 0;
  margin-left: 0%;
  padding-top: 10%;
  
  position: absolute;
}

.txtsubjom{
  color: var(--neutral-off-white, #FCFCFC); 
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 18%;
 
  z-index: inherit;
  position: absolute;
  
  }

 
  .footer {
    width: 100%;
    height: 0%;
    flex-shrink: 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    padding: 20px;  
  }
  
  .tag {
    display: flex;
    flex-direction: column;
  }
  
  .txttagline {
    margin-top: 6%; 
    margin-bottom : 1%;   
    margin-left: 5%; 
    color: #A3A3A3;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
  }
  
  .txtadres {
    margin-left: 8%; 
    margin-bottom : 6%;
    color: #A3A3A3;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;  
    text-align: left;
  }

  .copyright{
    margin-left: 45%; 
    margin-top : 5%;
    margin-bottom : 3%;
    color: #A3A3A3;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  .textmenufooter{
    color: #A3A3A3;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
  }

  .textmenuutamafooter{
    color: #000;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
  }


  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer {
    width: 100%;
    height: 0%;
    flex-shrink: 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    padding: 20px;  
  }
  
  .circle {
    position: fixed;
    margin-left: 0%;
    width: 85px;
    height:   85px;
    flex-shrink: 0;  
    border-radius: 585px; 
    background: rgba(60, 145, 230, 0.07); 
    z-index: 1;  
  }
   

    


 